*{
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    /* background: url(../src/assets/Logo.svg) no-repeat fixed center; */
    color: #FFF;
    background-color: #000;
}


.contact-container {
    /* Estilos específicos para el formulario de contacto */
    background-image: url('assets/logo2.svg');
    background-repeat: no-repeat; 
    background-position: center;
    /* Agrega otros estilos necesarios */
  }
.contenido{
    margin: 5% 10% 5% 10%;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 1em;
}
h1{
    padding: 1em 1em 0 1em;
    text-align: center;
}

input[type=text], input[type=email], input[type=tel], select, textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid rgba(204, 204, 204, 0.24);
  border-radius: 10px;
  margin-top: 3px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color:#eee;
}
button[type=submit] {
  background-color: rgb(60, 136, 62);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}
button[type=submit]:hover {
  background-color: #267027;
}
button[type=reset] {
    background-color: rgb(236, 238, 236);
    color: rgb(57, 58, 57);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}
button[type=reset]:hover {
  background-color: #f75555;
  color: #eee;
}
.formulario{
    margin: 0 1em 1em 1em;
    padding: 2em;
}
.botones{
    display: flex;
    justify-content: space-around;
}

/* REFERENCIA CSS BOTONES

https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

.mod-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Esconder los botones predefinidos, para armar los nuevos. */

.mod-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.mod-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.mod-radio input:checked ~ .checkmark {
    background-color: rgb(60, 136, 62);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.mod-radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.mod-radio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* Mensajes de error */

.success-message{
    text-align: center;
    color:aquamarine;
}
.error-message{
    text-align: center;
    color:#f75555;
}