@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* ================= VARIABLE ================ */
:root {
  --primary-color: hsl(9, 94%, 61%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #fbfbfb;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: hsl(300, 100%, 0%);
}

/* ================= BASE ==================== */

li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  width: auto;
  height: auto;
}
.bx {
  font-size: 2.5rem;
}
.container {
  padding: 0 2rem;
}

/* -- BODY -- */
body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  background-color: #000 ;
}

/* ================= HEADER ================ */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
  padding: 1rem 2rem;
}
.company-logo {
  font-size: 2.5rem;
  background: -webkit-linear-gradient(
    120deg,
    #660860,
    #9380b7,
    #fa5894
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-items {
  display: flex;
}
.nav-item {
  margin: 0 2rem;
}
.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: -webkit-linear-gradient(#9380b7,#660860
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link::before {
  content: "";
  background: linear-gradient(To right,#9380b7,#660860);
  width: 100%;
  height: 0.05rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 150ms;
}
.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.menu-toggle {
  display: none;
}
.bx-menu,
.bx-x {
  cursor: pointer;
  background: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none !important;
}

/* ================= MAIN ================ */

/* -------- HOME SECTION -------------- */
.section-1 {
  backdrop-filter: blur(5px);
  width: 900px;
  height: 300px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  padding: 10rem 5rem 0 5rem;
}
/* .home-computer-container {} */

.slogan .company-title {
  background: -webkit-linear-gradient(
    120deg,
    #fa5894,
    #660860,
    #9380b7
    
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  max-width: 30rem;
  letter-spacing: 0.12rem;
}
.slogan .company-slogan {
  background: -webkit-linear-gradient(
    120deg,
    #9380b7,
    #fa5894
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.8rem;
  max-width: 20rem;
}

/* -------- OFFER SECTION ------------- */
.section-2 {
  margin: 2rem 0;
}
.offer {
  background: transparent;
  display: grid;
  height: 20%;
  margin: 5rem 0;
  align-items: center;
  justify-content: space-between;
  margin-right: 200px;
  grid-template-rows: auto auto;
}
.offer img {
  background-color: transparent;
}
.offer-1 {
  grid-template-areas: "offer-1-img offer-desc-1";
}
.offer-1 img {
  background-color: transparent;
  padding: 2rem 0;
}

.offer2 {
  background: transparent;
  display: grid;
  margin-left: 97px;
}

.offer-desc-2 {
  grid-area: offer-desc-2;
}

.offer-2 {
  grid-template-areas: "offer-desc-2 offer-2-img";
}

.offer-2-img{
  grid-area: offer-2-img;
}

.offer-1 img {
  background-color: var(--dark-color);
  padding: 3rem 0;
}
.offer-description {
  background-color: transparent;
  padding: 0 1rem;
  
  font-size: 1.9rem;
}
.offer-description .offer-hook {
    max-width: 30rem;
  }
.offer-description .offer-title {
  background: -webkit-linear-gradient(
    120deg,
    #fa5894,
    #660860,
    #9380b7
    
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 1.5rem 0 0.5rem 0;
  
}
.offer-description .offer-hook {
  background: -webkit-linear-gradient(
    120deg,
    #fa5894,
    #660860,
    #9380b7
    
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2rem;
}
.offer-description .cart-btn {
  cursor: pointer;
  color: var(--second-color-alt);
  font-size: 1.1rem;
  display: grid;
  place-items: center;
  margin: 2rem 0 1rem 0;
  width: 10rem;
  height: 3rem;
  background-image: linear-gradient(to right,#ef97a3, #fff);
  
}
.offer-description .cart-btn:hover {
  background-image: linear-gradient(to bottom,#ef97a3, #fff);
  
}


/* =============== FOOTER =============== */
.top-footer {
  /* background: -webkit-linear-gradient(
    120deg,
    #fa5894,
    #660860,
    #9380b7
  ); */
  background: #000;
  display: flex;
  flex-direction: column;
}
.footer-title {
  font-weight: 500;
  font-size: 1.2rem;
  padding: 1rem 0;
  background-image: -webkit-linear-gradient(
    120deg,
    var(--primary-color-alt),
    var(--primary-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer-items h3 {
  cursor: pointer;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0.1rem 0;
  color: var(--white-color-alt);
}
.footer-items h3:hover {
  text-decoration: underline;
}
.footer-items h3:last-child {
  padding-bottom: 2rem;
}

.end-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(#000);
}
.copyright {
  color: var(--white-color-alt);
  padding: 1rem 0;
  font-size: 0.9rem;
}
.copyright b {
  font-weight: inherit;
  font-size: 0.9rem;
}
.designer {
  color: hsla(0, 0%, 98%, 0.541);
  padding-bottom: 0.5rem;
  font-size: 0.9rem;
}
.designer:hover {
  text-decoration: underline;
}

/* =============== Responsive ======= */


/* Footer nuevo */

:root{
--redColor: rgba(244,67,54,1);
--blueColor:rgba(33,150,243,1);
}

.flex-center {
  width: 100%;
  min-height: 50vh;
  
  background: transparent;
  
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff;
  
}

.icon-3d:hover{
  
  -webkit-animation: icon3d 200ms infinite;
  animation: icon3d 250ms infinite;
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px var(--redColor), -5px -6px var(--blueColor);
  }
  25% {
    text-shadow: -5px -6px var(--redColor), 5px 4px var(--blueColor);
  }
  50% {
    text-shadow: 5px -4px var(--redColor), -8px 4px var(--blueColor);
  }
  75% {
    text-shadow: -8px -4px var(--redColor), -5px -4px var(--blueColor);
  }
  100% {
    text-shadow: -5px 0 var(--redColor), 5px -4px var(--blueColor);
  }
}




/* Responsive */


@media (max-width: 767px){
        header {
                padding: 10px;
        }
        
        main {
                padding: 10px;
        }
        
        .section-1 {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 2rem;
        }
        .section-2 {
                width: auto;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 2rem;
        }
        .slogan .company-title {
                font-size: 1.5rem;
        }
        
        .slogan .company-slogan {
                font-size: 1.2rem;
        }
        
        .section-2 {
                margin: 2rem 0;
        }
        
        .offer {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 2rem 0;
        }
        .offer2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 2rem 0;
        }
        
        .offer img {
        width: 100%;
        height: auto;
        }
        
        
        .offer-description {
        text-align: center;
        padding: 0;
        }
        
        .offer-description .offer-title {
        font-size: 1.8rem;
        }
        
        .offer-description .offer-hook {
        font-size: 1.2rem;
        }
        
        .offer-description .cart-btn {
        margin: 2rem 0 1rem 0;
        }
        
        .top-footer {
        height: auto;
        }
        
        .footer-title {
        font-size: 1.2rem;
        }
        
        .footer-items h3 {
        font-size: 1.1rem;
        }
        
        .end-footer {
        height: auto;
        }
        
        .designer {
        padding-bottom: 1rem;
        }
        
}

